
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  // background-color: #121C41;
  background: rgb(18,28,65);
background: linear-gradient(0deg, rgba(18,28,65,1) 0%, rgba(32,46,98,1) 35%, rgba(63,82,150,1) 100%);
  color: white;
  font-family: 'Outfit', sans-serif;
}

.lottie-animation{
  width: 100px;
}

.title {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 1em;
  // color: #555;
  margin-bottom: 2em;
}

.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2em;
}

.time-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 80px; /* Asegurar un ancho mínimo */
  box-sizing: border-box;
}

.time {
  font-size: 4.5em;
  font-weight: bold;
}

.label {
  font-size: 1.2em;
  // color: #555;
}






.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 200px;
}

.round-button {
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  height: 80px;
  width: 80px;
}

@media (max-width: 576px) {
  .time-box {
    width: 50%; /* Cada time-box debería ocupar el 50% del ancho del contenedor */
    margin: 0; /* Sin margen */
  }
}
