// Breakpoints
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #234E6D;
  // background: linear-gradient(0deg, rgba(18,28,65,1) 0%, rgba(32,46,98,1) 35%, rgba(63,82,150,1) 100%);
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  position: relative;

  .finish{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 2rem;

    .emoji{
      margin: 0;
      font-size: 6em;
      line-height: 1em;
    }
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #234E6D;
    background: url('/assets/bg_dalle.jpg') center top repeat-x;
    background-size: cover;
    z-index: -1;
    background-size: contain;
    z-index: 1;
  }



  .lottie{
    width: 100px;
    z-index: 1;
    &.heart{
      filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .5));
      margin: 3rem 0;
    }
    &.travel{
      margin: 2rem 0;
    }
  }

  .main-text{
    .title {
      font-size: 2.25em;
      font-weight: 400;
      margin: 0 0 0.5em 0;
    }
    .subtitle {
      font-size: 1.2em;
      margin: 0;
    }
  }

  .countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    row-gap: 25px;

    .dots {
      width: 20px;
      font-size: 4.5em;
      font-weight: 500;
    }
    .time-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100px;
      box-sizing: border-box;

      .time {
        font-size: 4.5em;
        font-weight: 500;
      }
      .label {
        font-size: 1.2em;
      }
    }
  }
  .btn-wa {
    padding: 10px 20px;
    background-color: #22c55e;
    border: none;
    border-radius: .375rem;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;

    &:hover {
      background-color: darken(#22c55e, 5%);
    }

    fa-icon {
      font-size: 1.5rem;
      margin-right: 12px;
    }
  }
}

@media (max-width: $bp-sm) {
  .container {
    height: 100vh;
    .background-image{
      height: 150px;
    }
    .lottie{
      &.heart{
        width: 70px;
        margin:  2rem 0 2rem 0;
      }
      &.travel{
        width: 100px;
        margin: 1rem 0;
      }
    }
    .main-text{
      z-index: 1;
      width: 90%;
    }
    .countdown {
      .dots {
        display: none;
      }
      .time-box{
        width: 50%;
      }
    }
    .btn-wa{
      width: 90%;
      margin: 2rem 0;
    }

  }

}
